*{
  margin: 0;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(223, 218, 218);
  background-color: #333;
  text-align: center;
  height: 100px;
  color: #fcfcfc;
}
  
.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  
}

/* Estilos da navbar */
.navbar {
  background-color: #333;
  height: 38px;
  display: flex;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
 
}

.navbar li {
  margin-right: 10px;
}

.navbar a {
  text-decoration: none;
  color: #fcfcfc;
  padding: 20px;
}

.navbar a:hover {
  background-color: #57575775;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 5px 10px;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

td{

  height: 50px;
  padding: 10px;
}



button{

  background-color: rgb(173, 173, 173);
  border: 0;
  border-radius: 7px;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
}

/* Estilos da seção principal (hero) */
.hero {
  
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(12, 10, 161, 0.815);
}

.hero-content {
  text-align: center;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.btn:hover {
  background-color: #666;
}

/* Estilos da seção de recursos (features) */
.features {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.feature {
  text-align: center;
  width: 30%;
}

.feature img {
  width: 100%;
  max-width: 380px;
  height: auto;
}

.feature h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.feature p {
  font-size: 14px;
}